
// Angular Material theming
@use '@angular/material' as mat;

// PrimeNG CSS imports (solo los necesarios)
@import "primeicons/primeicons.css";

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme
  color-scheme: light;
  
  // Angular Material system variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  
  // Reset margins
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}
